{% extends "layouts/base.html" %}
{% block content %}
    {% load static %}
{% load widget_tweaks %}
    <!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>プロフィール登録</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/allergen2.css' %}">
    </head>
    <body>
    <div>
        <div class = "checkbox-container">
            <h1>アレルゲン選択</h1>
            <form method="POST" action="" class = "parent">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.allergen | attr:"class:form-control" }}
                </div>
                <p><input type="submit" value="選択終了/登録" class="btn btn-primary"></p>
            </form>
        </div>
    </div>
    </body>
    </html>

{% endblock %}