{% extends 'layouts/base.html' %}

{% block content %}
  <h2>カメラから画像をアップロードする</h2>
  <video id="video" width="640" height="480"></video>
  <br>
  <button id="capture">撮影する</button>
  <br>
  <canvas id="canvas" style="display:none;"></canvas>
  <br>
  <form action="{% url 'lunch_photo' %}" method="post" enctype="multipart/form-data" id="upload">
    {% csrf_token %}
    <input type="file" name="image" id="upload_image">
    <input type="submit" value="アップロード">
  </form>

  <form action="{% url 'lunch_photo' %}" method="post" enctype="multipart/form-data" id="capture_form">
    {% csrf_token %}
    <input type="hidden" name="image" id="capture_image">
  </form>

  <script>
    console.log("line 20")
    navigator.mediaDevices.getUserMedia({video: true})
      .then(function(stream) {
        console.log("start video capture")
        var video = document.getElementById("video");
        video.srcObject = stream;
        video.play();
      })
      .catch(function(error) {
        console.log(error);
      });

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");

    document.getElementById("capture").addEventListener("click", function() {
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      context.drawImage(video, 0, 0);
      var dataURL = canvas.toDataURL();
      document.getElementById("capture_image").value = dataURL;
      document.getElementById("capture_form").submit();
    });
  </script>
{% endblock %}