<!-- https://deecode.net/?p=382 -->
<!-- カメラが起動するページ -->

{% extends "layouts/base.html" %}
{% block content %}

<div>
    <div id="image_area">
        <img src="/video_feed"/>
    </div>

    <!-- 撮影ボタン -->
    <!-- https://rurukblog.com/post/djangogoodbtnusernone/ -->
    <form method="post" action="{% url 'lunch_photo' %}" name="myform" enctype="multipart/form-data" onsubmit="capture(event)">
        {% csrf_token %}
        <input type="hidden" id="image_form" name="image">
        <input type="submit" value="送信" />
    </form>
</div>

<script>
    const img = document.querySelector('img');
    console.log(img.width, img.height)
    function capture(event) {
        event.preventDefault();
        // 画像取得：https://www.ykrods.net/posts/2019/10/09/getting-image-data-with-js/#:~:text=canvas%20%E3%81%AB%E4%B8%80%E5%BA%A6%E7%94%BB%E5%83%8F%E3%82%92,')%3B%20const%20canvas%20%3D%20document.
        const img = document.querySelector('img');
        const canvas = document.createElement('canvas');
        canvas.width = img.width;
        canvas.height = img.height;
        canvas.getContext('2d').drawImage(img, 0, 0);

        // canvasを画像変換して出力：https://cly7796.net/blog/javascript/convert-canvas-to-image/
        image_form = document.getElementById("image_form")
        image_form.value = canvas.toDataURL("image/jpeg");
    
        //submit()でフォームの内容を送信
        document.myform.submit();
    }

</script>


{% endblock %}