{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'css/GG.css' %}">
</head>
<body>
<div class = "parent">
    <div class="box">
    <div class = "login-box">
        <h1>ログイン</h1>
        <form method="POST" action="" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">アカウントとパスワードを入力してください:</label>
                {{ form.username|attr:"class:form-control" |attr:"placeholder:アカウントを入力してください"}}
            </div>
            <div class="form-group">
                {{ form.password|attr:"class:form-control" |attr:"placeholder:パスワードを入力してください"}}
            </div>
            <p><input type="submit" value="ログイン" class="btn btn-primary"></p>
            <a href="../signup">新規登録</a>

        </form>
    </div>
    </div>
</div>
</body>
</html>
{% endblock %}
