{% extends "layouts/base.html" %}
{% block content %}

<div class="section">
    <div class="has-text-centered">
        <img src="{{ image }}" alt="Encoded Image">
    </div>
    <h3 class="has-text-weight-bold" style="margin-bottom: 5px;">選んだメニューはこれですか？</h3>
    <div id="form-fields">
        <form method="POST">
            {% csrf_token %}
            {% for dish in detected_dish_info %}
            <div class="dish-field" name='{{ dish }}' style="display: flex; margin-bottom: 2px;">
                <!-- 料理名 -->
                <div class="has-text-centered" style="margin-right: auto;">
                    {{ dish }}
                </div>

                <!-- 右端に編集・削除ボタン -->
                <div style="margin-right: 10px"><i class="fa-solid fa-pen-to-square"></i></div>
                <div style="margin-right: 5px"><i class="fa-solid fa-trash"></i></div>
            </div>
            {% endfor %}

            <!-- メニュー追加ボタン -->
            <button id="add-field-btn" type="button">Add Field</button>
            <button id="remove-field-btn" type="button">Remove Field</button>

            <!-- 確定ボタン -->
        </form>
    </div>
</div>

<!-- javascript読み込み -->
{% load static %}
<script src="{% static 'javascript/lunch_photo.js' %}"></script>

{% endblock %}