{% extends "layouts/base.html" %}
{% block content %}

<div class="section">
    <!-- TODO: レイアウトをPandAに寄せる -->
    <div class="has-text-centered">
        <img src="{{ image }}" alt="Encoded Image">
    </div>

    <!-- メニュー選択 -->
    <h4 class="has-text-weight-bold" style="margin-bottom: 5px;">選んだメニューはこれですか？</h4>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div id="form-fields">
                {% for dish in detected_dish_info %}
                    <div class="dish-field" name='{{ dish }}' style="display: flex; margin-bottom: 2px;">
                        <!-- 料理名 -->
                        <select class="has-text-centered" name="dish-{{ forloop.counter0 }}" style="margin-right: auto; margin-left: 10%;">
                            {% for menu in menus %}
                                <option value="{{ menu.id }}" 
                                    {% if menu.dish_name == dish.dish_name %}
                                        selected
                                    {% endif %}
                                >
                                    {{ menu.dish_name }}
                                </option>
                            {% endfor %}
                        </select>

                        <!-- 右端に削除ボタン -->
                        <div class="remove-field-btn" style="margin-right: 10%"><i class="fa-solid fa-trash"></i></div>
                    </div>
                {% endfor %}
            </div>

            <!-- メニュー追加ボタン -->
            <button id="add-field-btn" type="button" class="button is-black is-small" style="margin-left: 10%; margin-top: 5px;">
                <i class="fa-solid fa-plus"></i> 追加
            </button>

            <!-- 確定ボタン -->
            <!-- PandAの「進める」「キャンセル」ボタンのデザイン -->
            <div style="display: flex; margin: 5 auto;">
                <div>
                    <button class="button is-black is-small" style="margin-right: 4px; margin-top: 20px;">進める</button>
                </div>
                <div>
                    <button class="button is-light is-small" style="margin-right: 4px; margin-top: 20px;">キャンセル</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- javascript読み込み -->
{% load static %}
<script src="{% static 'javascript/lunch_photo.js' %}"></script>

{% endblock %}