{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>推薦</title>
{#        <link rel="stylesheet">#}
    </head>
    <body>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">今日のおすすめメニュー</h3>
              </div>
              <div class="panel-body">
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>料理名</th>
                            <th>English dish name</th>
                            <th>食堂</th>
                            <th>組価(税込)</th>
                            <th>詳細</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for m in menu %}
                            <tr>
                            <th>{{ m.id }}</th>
                            <td>{{ m.dish_name }}</td>
                            <td>{{ m.dish_en_name }}</td>
                            <td>{{ m.canteen.get_canteen_name_display}}</td>
                            <td>{{ m.price }}円</td>
                            <td>
                                <a class="btn" href ={{ m.dish_url }}>詳細</a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
              </div>
        </div>
    </body>
</html>
{% endblock %}
