{% extends "layouts/base.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>推薦</title>
        <link rel="stylesheet">
    </head>
    <body>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>料理名</th>
                    <th>English dish name</th>
                    <th>食堂</th>
                </tr>
                </thead>
                <tbody>
                {% for m in menu %}
                    <th>{{ m.id }}</th>
                    <td>{{ m.dish_name }}</td>
                    <td>{{ m.dish_en_name }}</td>
                    <td>{{ m.canteen}}</td>
                {% endfor %}
                </tbody>
            </table>
    </body>
</html>
{% endblock %}