{% extends "layouts/base.html" %}
{% block content %}

<div class="section">
    <div class="has-text-centered">
        <img src="{{ image }}" alt="Encoded Image">
    </div>

    <!-- メニュー選択 -->
    <h4 class="has-text-weight-bold" style="margin-bottom: 5px;">あなたの昼食メニューは提出されました</h4>

    <!-- 検出したメニュー -->
    <div>
        <ul>
            {% for dish_name in detected_dish_info %}
                <li>
                    <!-- 料理名 -->
                    {{ dish_name }}
                </li>  
            {% endfor %}
        </ul>
    </div>


    <!-- ホーム遷移ボタンと、SNSシェアボタン -->
    <div style="display: flex; margin: 5 auto;">
        <div>
            <a class="button is-black is-small" 
                style="margin-right: 4px; margin-top: 20px;"
                href="{% url 'user_home' user_account=request.user.user_account %}"　
            >
                HOMEに戻る
            </a>
            <a 
                class="button is-light is-small" 
                style="margin-right: 4px; margin-top: 20px;"
                href="https://twitter.com/"
            >
                SNSへシェア
            </a>
        </div>
        <div>
            <!-- <a class="twitter-share-button button is-black is-small"
                style="margin-right: 4px; margin-top: 20px;"
                href="https://twitter.com/intent/tweet?text=#PlatePanda"
                data-url='{{ image }}'
                data-size="large">
                Twitterにシェア 
                <i class="fa-brands fa-twitter"></i>
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
            <!-- { %  social_widget_render  "twitter/share_button.html"  href = "http://www.twitter.com" username= "EntroP"  hashtag="#PlatePanda" % } -->

            <!-- <a href="{{ twitter_share_url }}" target="_blank">Share on Twitter</a> -->
        </div>
    </div>
   
</div>

{% endblock %}