{% extends "layouts/base.html" %}
{% block content %}

			<div class="container" id="user_home_flexbox_top">
				<div id="user_home_weather">
					
					<h2>天気</h2>
					<script>
						
						var areas = "{{ weather }}";
						
						console.log(areas);
					</script>
					<p>コンテンツ1</p>
				</div>
				<div id ="user_home_tweet">
					<h2>＃PlatePandAのタイムライン</h2>
					<a class="twitter-timeline" data-width="220" data-height="200" href="https://twitter.com/kyotoyunesuko?ref_src=twsrc%5Etfw">Tweets by kyotoyunesuko</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<a href="https://twitter.com/intent/tweet?text=%0A%0A%23%E3%81%82%E3%81%AA%E3%81%9F%E3%81%AE%EF%BC%A7%EF%BC%B7%E4%BA%88%E5%AE%9A%E8%A1%A8%20%23PlatePandA%0Ahttps%3A%2F%2Fgithub.com/yu0ki/menu_recsys%0A" class="twitter-hashtag-button" data-show-count="false">Tweet #PlatePandA</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					<p>コンテンツ2</p>
				</div>
			</div>
			<div class="container" id="user_home_flexbox_bottom">
				<div id="user_home_panda" style="margin:0px;overflow:hidden">
					<canvas id="myCanvas" ></canvas>
					<!-- <h2>パンダ</h2>

						
					<p>
						<a href="https://panda.ecs.kyoto-u.ac.jp/portal">
							<img src="images/animal_bear_panda.png" class="animation">
						</a>
					</p> -->
				</div>
				<div id="user_home_tool">
					<div id="user_home_search">
						<a href="../pages/search.html">
							<img src="images/search_mushimegane.png" id="user_home_img_search">
						</a>
					</div>
					<div id="user_home_camera">
						<img src="images/camera.png" id="user_home_img_camera">
					</div>
					<div id="user_home_setting">
						<img src="images/setting.png" id="user_home_img_setting">
					</div>
				</div>
			</div>
			

{% endblock %}