<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PlatePandA</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
		<link rel="stylesheet" href="../layouts/head_foot.css" />

	</head>

	<body>
		<header>
			<div class="container">
				<h1 class="title"><a id="pp_head" href="../pages/user_home.html" style="color:black">PlatePandA</a></h1>
				<h2 class="subtitle"> <!-- 書くとしたらページタイトル --></h2>
				<a href="../pages/search.html"><img src="images/search_mushimegane.png"></a>
			</div>
		</header>
		
		<main>
			<section>
				<h2>セクション1</h2>
				<p><a href="https://panda.ecs.kyoto-u.ac.jp/portal"><img src="images/animal_bear_panda.png"></a>コンテンツ1</p>
			</section>
			<section>
				<h2>セクション2</h2>
				<p>コンテンツ2</p>
			</section>
		</main>
		

		<footer> 
			<div class="content has-text-centered">
			2023 ©PlatePandA
			</div>
		</footer>

	</body>
</html>
