html {
    height: 100%;
}
body {
    height: 100%;
}


header {
    height: 9%;
    width: auto;
    background-color: black;
    display: flex;

}
header >li {
    list-style: none;
    margin: 0;
}
header >li:nth-of-type(2) {
    margin-right:auto;
}
header >li:nth-of-type(3) {
    background-color: white;
}

#pp_head_icon{
    height: 100%;
}
/* ヘッダーのPlatePanddAにカーソルを合わせると下線が出ます*/
#pp_head_title { text-decoration:none;}
#pp_head_title:hover { text-decoration:underline;}


main {
    height: 82%;
    overflow-y: auto;
}
footer {
    height: 9%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
