{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PlatePandA</title>
    <link rel="icon" type="image/png" href="{% static 'images/icon_platepanda.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'css/head_foot.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/user_home.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/3caa0f69bb.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <li>
        <img src="{% static 'images/icon_platepanda.png' %}" id="pp_head_icon">
      </li>
      <li>
        <h1 class="title"><a id="pp_head_title" href="../pages/user_home.html" style="color:white">PlatePandA</a></h1>
        <h2 class="subtitle" style="color:white"> <!-- 書くとしたらページタイトル --></h2>
      </li>
      <li class="head_menu_btn">
        <!-- メニューボタン -->
        <img  src="{% static 'images/icon_head_menu.png' %}" id="pp_head_icon">
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
          $(function() {
              $(".head_menu_btn").click(function() {
                  $(".hidden_btns").slideToggle("");
              });
          });
          </script>
          
      </li>
    </header>

    <div class="hidden_btns"> <!-- リンクは割と適当です -->
      <a class="button is-rounded" href="../user_home">home</a>
      <a class="button is-rounded" href="../search">search</a>
      <a class="button is-rounded" href="../camera">camera</a>
      <a class="button is-rounded" href="../profile">setting</a>
      <a class="button is-rounded" href="../">1週間の食事記録</a>
      <a class="button is-rounded is-danger " href="../login">log out</a>
    </div>

    <main class="container"> <!-- ここの内部をいじると良いと思います -->
        {% block content %}
        {% endblock %}
    </main>
 
    <footer> 
        <div class="content has-text-centered" style="color:white">
        2023 ©PlatePandA
        </div>
     </footer>
  </body>
</html>


