{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PlatePandA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" defer ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'css/head_foot.css' %}" type="text/css">
  </head>

  <body>
    <header>
        <div class="container">
            <h1 class="title"><a id="pp_head" href="../pages/user_home.html" style="color:black">PlatePandA</a></h1>
            <h2 class="subtitle"> <!-- 書くとしたらページタイトル --></h2>
        </div>
    </header>

    <main class="container"> <!-- ここの内部をいじると良いと思います -->
        {% block content %}
        {% endblock %}
    </main>
 
    <footer> 
        <div class="content has-text-centered">
        2023 ©PlatePandA
        </div>
     </footer>
  </body>
</html>


